<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
    <context-param>
        <param-name>projectName</param-name>
        <param-value>web-concept</param-value>        
    </context-param>

    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>sun.com.servlet.Login</servlet-class>

        <init-param>
            <param-name>info</param-name>
            <param-value>This is for Login operations</param-value>
        </init-param>
        
    </servlet>

    <servlet>
        <servlet-name>gettime</servlet-name>
        <servlet-class>sun.com.concept.ajax.AjaxSample</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/jsp/login.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>gettime</servlet-name>
        <url-pattern>/gettime</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
