*.class
/concept/core/dist/
/concept/core/build/
/base/struts1.3/nbproject/private/
/base/struts1.3_hibernate/nbproject/private/
/concept/core/nbproject/private/
/concept/email/nbproject/private/
/concept/j2ee/nbproject/private/
/concept/jstl/nbproject/private/
/concept/spring-mvc/nbproject/private/
/concept/spring/nbproject/private/
/concept/struts1.3/nbproject/private/
/concept/struts2/nbproject/private/
/concept/tld/nbproject/private/
/project/avi-1.0/trunk/dist/
/project/avi-1.0/trunk/nbproject/private/
/project/elearning/dist/
/project/elearning/nbproject/private/
/base/hibernate/nbproject/private/