/* 
    Document   : message
    Created on : 7 May, 2009, 6:00:35 PM
    Author     : sunil
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.exception{
    background-color:#f98fa3;
    font-size:14px;
    font-weight:bolder;
    border:solid 2px red;
    margin:10px;
    padding:10px;
}

.message{
    background-color:#b4f98f;
    font-size:14px;
    font-weight:bolder;
    border:solid 2px #236400;
    margin:10px;
    padding:10px;
}