
/** SIDE MENU **/
#side-menu{
 
}

#side-menu li{
 background-color:gray;
 list-style:none;
 padding: 4px;
 margin:3px;
 border:solid 1px;
 width:100px;
}

#side-menu li:hover{
    background-color:silver;
}

#side-menu a{  
    text-decoration:none;
    color:#f3f2f2;
}

/** HEADER MENU */

#header-menu{
    padding-left:20%;
}

#wrap {
    font-size: 12px;
    width: 500px;
    margin: 0 auto;
    position: relative; }

/* These styles create the dropdown menus. */
#navbar {
    margin: 0;
    padding: 0;
    height: 1em; }
#navbar li {
    list-style: none;
    float: left; }

#navbar li a {
    display: block;
    padding: 3px 16px;
    background-color: gray;
    color: #fff;
    text-decoration: none; }

#navbar li ul li a {
    padding: 3px 3px;
}

#navbar li ul {
    display: none;
    width: 10em; /* Width to help Opera out */
    background-color: gray;}
#navbar li:hover ul, #navbar li.hover ul {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0; }
#navbar li:hover li, #navbar li.hover li {
    float: none; }
#navbar li:hover li a, #navbar li.hover li a {
    background-color: gray;
    border-bottom: 1px solid #fff;
    color: #000; }
#navbar li li a:hover {
    background-color: silver; }