/* 
    Document   : rounded-box
    Created on : 3 Jun, 2009, 12:01:05 PM
    Author     : sunil
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#radiusx, #radiusy {  text-align: right;  width: 30px;}

div.rounded div {  height: 1px;  overflow: hidden;}

.last-child{    border:solid 5px green;}