

.container{
    padding:10px;
    border:solid #474747 5px;
    background-color:gray;
    background-image:url("../images/bg/30.jpg");
}

.formTable{
    padding:10px;
    border:solid #474747 5px;
    background-color:silver;
    text-align:left;   
}

.formTable th{
 background-color:orange;
 border:solid 1px;
 text-align:center;
 padding:8px;
 -moz-border-radius-topleft:7px;
 -moz-border-radius-topright:7px;
}

table td{
   padding:2px; 
}

table .heading{
    background-color:#094558;   
    font-weight:bolder;
    color:white;
    border-style:solid;
}


table .odd td{
     padding:10px;     
}

table .odd{
    background-color:#b7b7b7;
}

table .even{
    background-color:#ffffff;
}

table .odd td,table .even td, table .heading td{
    padding:12px 2px;
    border-top:solid 1px;
    border-left:solid 1px;
}
