<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!--************** SERVLET ***************-->
    <filter>
        <filter-name>ApplicationFilter</filter-name>
        <filter-class>com.csit.servlet.filter.ApplicationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ApplicationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.csit.servlet.Login</servlet-class>
    </servlet>

    <!--************* SERVLET MAPPING **********-->

    <servlet>
        <servlet-name>UserModel</servlet-name>
        <servlet-class>com.csit.sq.onnectionl.CourseModel</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ContactDetail</servlet-name>
        <servlet-class>com.csit.sq.onnectionl.ContactDetailModel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddressDetail</servlet-name>
        <servlet-class>com.csit.sq.onnectionl.AddressDetailModel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetail</servlet-name>
        <servlet-class>com.csit.servlet.UserDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewRegistration</servlet-name>
        <servlet-class>com.csit.servlet.NewRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertIntoTable</servlet-name>
        <servlet-class>com.csit.servlet.InsertIntoTable</servlet-class>
    </servlet>






    <servlet>

        <servlet-name>AddUpdateAdmin</servlet-name>
        <servlet-class>com.csit.servlet.admin.AddUpdateAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminMode</servlet-name>
        <servlet-class>com.csit.servlet.admin.AdminMode</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DeleteAdmin</servlet-name>
        <servlet-class>com.csit.servlet.admin.DeleteAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayAllAdmin</servlet-name>
        <servlet-class>com.csit.servlet.admin.DisplayAllAdmin</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddStudentPage1</servlet-name>
        <servlet-class>com.csit.servlet.student.AddStudentPage1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudent</servlet-name>
        <servlet-class>com.csit.servlet.student.DeleteStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudentPage1</servlet-name>
        <servlet-class>com.csit.servlet.student.UpdateStudentPage1</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>com.csit.servlet.user.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudentPage2</servlet-name>
        <servlet-class>com.csit.servlet.student.AddStudentPage2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentMode</servlet-name>
        <servlet-class>com.csit.servlet.student.StudentMode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudentPage2</servlet-name>
        <servlet-class>com.csit.servlet.student.UpdateStudentPage2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearch</servlet-name>
        <servlet-class>com.csit.servlet.search.AdminSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentSearch</servlet-name>
        <servlet-class>com.csit.servlet.search.StudentSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>com.csit.servlet.search.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RotateTheme</servlet-name>
        <servlet-class>com.csit.servlet.theme.RotateTheme</servlet-class>
    </servlet>
    <servlet><servlet-name>Logout</servlet-name><servlet-class>com.csit.servlet.Logout</servlet-class></servlet>
    <servlet>
        <servlet-name>AddCourse</servlet-name>
        <servlet-class>com.csit.servlet.course.AddCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourseCategory</servlet-name>
        <servlet-class>com.csit.servlet.course.AddCourseCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCourse</servlet-name>
        <servlet-class>com.csit.servlet.course.UpdateCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseMode</servlet-name>
        <servlet-class>com.csit.servlet.course.CourseMode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddComment</servlet-name>
        <servlet-class>com.csit.servlet.comment.AddComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFee</servlet-name>
        <servlet-class>com.csit.servlet.student.fee.AddFee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParentServlet</servlet-name>
        <servlet-class>com.csit.servlet.ParentServlet</servlet-class>
    </servlet>
    <servlet><servlet-name>AddSubject</servlet-name><servlet-class>com.csit.servlet.course.subject.AddSubject</servlet-class></servlet>
    <servlet>
        <servlet-name>AddStaff</servlet-name>
        <servlet-class>com.csit.servlet.staff.AddStaff</servlet-class>
    </servlet>
    <servlet><servlet-name>UpdateStaff</servlet-name><servlet-class>com.csit.servlet.staff.UpdateStaff</servlet-class></servlet>
    <servlet>
        <servlet-name>DeleteStaff</servlet-name>
        <servlet-class>com.csit.servlet.staff.DeleteStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffSearch</servlet-name>
        <servlet-class>com.csit.servlet.search.StaffSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMyAccount</servlet-name>
        <servlet-class>com.csit.servlet.user.UpdateMyAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

   <!--************* WELCOME FILE LIST **********-->

    <servlet-mapping>
        <servlet-name>UserModel</servlet-name>
        <url-pattern>/UserModel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactDetail</servlet-name>
        <url-pattern>/ContactDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddressDetail</servlet-name>
        <url-pattern>/AddressDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetail</servlet-name>
        <url-pattern>/UserDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewRegistration</servlet-name>
        <url-pattern>/NewRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertIntoTable</servlet-name>
        <url-pattern>/InsertIntoTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>

        <servlet-name>AddUpdateAdmin</servlet-name>
        <url-pattern>/AddUpdateAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminMode</servlet-name>
        <url-pattern>/AdminMode</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DeleteAdmin</servlet-name>
        <url-pattern>/DeleteAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayAllAdmin</servlet-name>
        <url-pattern>/DisplayAllAdmin</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddStudentPage1</servlet-name>
        <url-pattern>/AddStudentPage1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudent</servlet-name>
        <url-pattern>/DeleteStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudentPage1</servlet-name>
        <url-pattern>/UpdateStudentPage1</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudentPage2</servlet-name>
        <url-pattern>/AddStudentPage2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentMode</servlet-name>
        <url-pattern>/StudentMode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudentPage2</servlet-name>
        <url-pattern>/UpdateStudentPage2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearch</servlet-name>
        <url-pattern>/AdminSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentSearch</servlet-name>
        <url-pattern>/StudentSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RotateTheme</servlet-name>
        <url-pattern>/RotateTheme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCourse</servlet-name>
        <url-pattern>/AddCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCourseCategory</servlet-name>
        <url-pattern>/AddCourseCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCourse</servlet-name>
        <url-pattern>/UpdateCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseMode</servlet-name>
        <url-pattern>/CourseMode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddComment</servlet-name>
        <url-pattern>/AddComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFee</servlet-name>
        <url-pattern>/AddFee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParentServlet</servlet-name>
        <url-pattern>/ParentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping><servlet-name>AddSubject</servlet-name><url-pattern>/AddSubject</url-pattern></servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaff</servlet-name>
        <url-pattern>/AddStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaff</servlet-name>
        <url-pattern>/UpdateStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaff</servlet-name>
        <url-pattern>/DeleteStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffSearch</servlet-name>
        <url-pattern>/StaffSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMyAccount</servlet-name>
        <url-pattern>/UpdateMyAccount</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/jsp/com/alert/error.jsp</location>
    </error-page>
    </web-app>
