/* 
Document   : custom.css
Created on : 6 May, 2009, 3:56:00 PM
Author     : sunil
Description:
Purpose of the stylesheet follows.
*/

body{
    text-align:center;
    font: 14px Arial, Helvetica, sans-serif;
    background-image:url("../../images/theme/classical/bg.jpg");
    background-position:top center;
    background-color:black;
}

.container{
    background-image:url("../../images/theme/classical/formbg.jpg");
    background-position: bottom left;
    background-color:white;
}

#content{
    /*background-image:url("../../images/theme/classical/bg.jpg");*/
    background-color:#D2D2D2;
}
#header{
  color:white;
}
#content p{
    color:black;
}

.title{
   
}

#header marquee{
    background-color:#D2D2D2;
    color:gray;
}
#navbar li:hover li a, #navbar li.hover li a {color: white; }

