/* 
    Document   : custom.css
    Created on : 6 May, 2009, 3:56:00 PM
    Author     : sunil
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body{
     background-image:url("../../images/theme/indigo/starbg.jpg");
     background-color:indigo;
}

.container{
    background-image:url("../../images/theme/indigo/formbg.jpg");

}

table,#content{
    background-color:#e5edff;
}

/** side menu **/

#side-menu li{ background-color:#e5edff;}
#side-menu li:hover{background-color:#9aaacf;}
#side-menu a{color:#030b1d;}

/** header menu */
#navbar li a {background-color: #e5edff;color:#030b1d;}
#navbar li ul {background-color: #e5edff;}
#navbar li:hover li a, #navbar li.hover li a {background-color: #e5edff;border-bottom: 1px solid #fff;color: #000; }
#navbar li li a:hover {background-color: #9aaacf; }

#header marquee{
    background-color:#050529;
}