/* 
Document   : custom.css
Created on : 6 May, 2009, 3:56:00 PM
Author     : sunil
Description:
Purpose of the stylesheet follows.
*/

body{
    text-align:center;
    font: 14px Arial, Helvetica, sans-serif;
    background-image:url("../../images/theme/water/bg.gif");
    background-position:top center;
    background-color:black;
}

.container{
    background-image:url("../../images/theme/water/formbg.gif");
    background-position: bottom left;
    background-color:white;
}

#content{
    background-color:#d9d9e8;
}
#header{
    color:white;
}
#content p{
    color:black;
}

/** side menu **/

#side-menu li{ background-color:#313158;}
#side-menu li:hover{background-color:#a7a7dc;}
#side-menu a{color:white;}

/** header menu */
#navbar li a {background-color: #313158;color:white;}
#navbar li ul {background-color: #313158;}
#navbar li:hover li a, #navbar li.hover li a {background-color: #313158;border-bottom: 1px solid #fff;color:white; }
#navbar li li a:hover {background-color: #a7a7dc;}

#header marquee{
    background-color:#313158;
}